<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4 rounded-circle" [src]="usuario.foto" alt="" width="125" height="100">
    <h2>{{usuario.nombre}}</h2>
</div>


<form [formGroup]="formulario">
    <div class="container">
        <div class="col col-md col-sm">
            <label for="country" class="form-label">Cuenta predeterminada</label>
            <select class="form-select" formControlName="id" required>
              <option *ngFor="let cuenta of cuentas" [value]="cuenta.id" >{{cuenta.descripcion}}</option>
            </select>
        </div>
    </div>
</form>
